<%= form_with(model: todo, local: true, :html => {:id=>'form'}) do |form| %>

<h3>
<div class="Text">
  <p><%= form.text_field :text, :placeholder => "Название задачи" %></p>
</div>
<div class="Dropdown">
  <p><%= form.select :project_id, [['Семья','1'],['Работа','2'],['Прочее','3']] %> </p>
</div>
<div id="Submit">
    <%= link_to 'OK', "#" %>
<% end %>
</div>
