/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require select2
 */
 @import "bootstrap";
 @import 'icheck/square/blue';
 @font-face {
font-family: 'SourceSansPro';
src: url('OpenSans-Light.ttf') format('truetype');
src: url('OpenSans-Regular.ttf') format('truetype');
src: url('OpenSans-Semibold.ttf') format('truetype');
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  #bg_layer {
    height: 180% !important;
  }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  #bg_layer {
    height: 180% !important;
  }
}

@media (min-width: 992px) {

}
.new_task,#bg_layer{
     display:none;
}
li {
   list-style-type: none;
  }
#bg_layer {
    position: absolute;
    z-index: 15;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.8;
}
#nav {
  background-color: #3aafda;
  font-size: 150%;
  height: 2em;
  -webkit-box-shadow: 0px 0.8px 4px 0px rgba(140,139,139,0.75);
  -moz-box-shadow: 0px 0.8px 4px 0px rgba(140,139,139,0.75);
  box-shadow: 0px 0.8px 4px 0px rgba(140,139,139,0.75);
  display: flex; // make us of Flexbox
  align-items: center; // does vertically center the desired content
  justify-content: center; // horizontally centers single line items
  text-align: center;
}

.reveal {
  position: absolute;
  right: 1.5%;

}
.help {
  position: absolute;
  left: 1.5%;
  font-size: 70%

}
body {
  background-color: #f8f8f8;

}
a:visited{
  color: black !important;
  text-decoration: none;
}
a:active {
  color: black !important;
  text-decoration: none;
}
a {
  text-decoration: none !important;
  color: black !important;
}
.container-fluid {
  padding: 0;
}
.row {
  margin-left: 2%;
  margin-right: 2%;
}
.tasks {
  background-color: #ffffff;
  margin-top: 1em;
  margin-bottom: 1em;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  -webkit-box-shadow: 0px 0.8px 3px 0.4px rgba(140,139,139,1);
  -moz-box-shadow: 0px 0.8px 3px 0.4px rgba(140,139,139,1);
  box-shadow: 0px 0.8px 3px 0.4px rgba(140,139,139,1);
}
.tasks h6 {
  margin-left: 1.5em
}
.tasks hr {
  margin-top: 0 ;
  margin-bottom: 0;
  margin-right: 5%;
  margin-left: 5%;
}
.tasks ul {
  padding-left: 15px;
}
.tasks li {
  margin-top: 1em;
  margin-bottom: 1em;
}
.tasks li:hover {
  text-decoration: line-through;
}
.new_task, #greeting {
  text-align: center;
  -webkit-box-shadow: inset 0px -0.8px 5px 0.4px rgba(136,136,136,1);
  -moz-box-shadow: inset 0px -0.8px 5px 0.4px rgba(136,136,136,1);
  box-shadow: inset 0px -0.8px 5px 0.4px rgba(136,136,136,1);
  position:absolute;
  z-index: 20;
  background: #FFF;
  margin: 0;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  min-width: 360px;
  min-height: 200px;
}
.new_task div{
  width: inherit;
}
#par {
  font-size: 125%;
  margin-top: 7px;
  margin-bottom: 6px;
}

.select2-selection, .select2-selection__rendered, .select2-selection__arrow {
   height: 40px !important;
   width: 300px !important
   span {
       line-height: 40px !important;
       text-align: left;
        width: 300px !important
   }
   width: 80px ;
}
.select2-selection {
   border-radius: 0 !important;
   width: 300px;
}
#text{
  width: 300px;
  height: 40px;
}
#buttns div {
   display: inline-block !important;
}
.btn-secondary,.btn-secondary:hover, .btn-primary, .btn-primary:hover {
    border-radius: 0 !important;
    border: 0;
}
.btn-secondary {
  color: #fff;
  background-color: #9f9f9f;

}

.btn-secondary:hover {
  color: #fff;
  background-color: #777777;
}
.btn-primary {
  background-color: #3aafda;
  color: #fff !important;
}
.btn{
  min-width: 135px !important;
}

.btn-primary:hover {

  background-color: #3397bb;
  color: #fff !important;
}
.select2 {
  min-width: 300px;
}
#project_id{
  width: 300px !important;
}
#Submit a{
  color: #fff !important;
}
#greeting {
  width: 100px;
  background-color: #f8f8f8;
  height: 180px !important;
  display:none;
}
#greeting h6{
  background-color: #3aafda;
  min-height: 30px;
}
#greeting h5{
  margin-top: 20px;
}
#greeting p{
  margin: 10px 15px auto 15px;
}
#select2-drop{
    width: 400px !important;
}
